{% extends "base.html" %}
{% load static %}

{% block meta %}
    {{ block.super }}  
    <link rel="stylesheet" href="{% static 'bookshowroom/css/booking.css' %}">
{% endblock meta %}
{% block content %}
<div class="outer-container">
<div class="calendar-container">
    <div class="month-navigation">
        <button id="prev-month">←</button>
        <div class="month-name" id="month-name">October 2024</div>
        <button id="next-month">→</button>
    </div>

    <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>

    <div class="days" id="days-container">
        <!-- Days will be generated dynamically -->
    </div>
    
</div>
<div id="bookings">
<div id="booking-title">Bookings</div>
<div><h1 id="date_header"></h1>
</div>
    <div id="booking_cards">Haha</div>
  
    <button id="book_button" onclick="addBooking()">Book a new appointment</button>
    
</div>
</div>
<script>
    const STATIC_URL = "{% static '' %}";  
    const csrfToken = '{{ csrf_token }}';
</script>
<script src="{% static 'bookshowroom/js/booking.js' %}"></script>
{% endblock %}